body{
    display: grid;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    border: 0;
    place-items: center;
    background-color: rgba(150, 188, 205, 0.507);
}
.furnimg{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.card{
    width: min(90vw,750px);
    height: min(90vh, 300px);
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 1fr;
    background-color: white;
    border-radius: 6px;
    overflow:hidden;
}
.cardcontent{
    height: 100%;
    padding-right: 20px;
    padding-left: 10px;
    display: grid;
    grid-template-rows: auto auto 70px;
    gap:0px
}
.cardcontent h1{
    font-size: larger;
    margin: 0;
    padding-top: 25px;
}
#cardcontentmessage {
    padding-bottom: 30px;
    font-size: medium;
    margin: 0;
    color: rgba(128, 128, 128, 0.74);
}
.avatarimg{
    width: 80%;
    border-radius: 9999px;
}
.Shareicon{
    height: 60%;
    width: 70%;
    border-radius: 9999px;
    background-color: rgba(128, 128, 128, 0.288);
}
#date{
    font-size: small;
    margin: 0;
    color: rgba(128, 128, 128, 0.74);
}
.cardcontentbottom{
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }